@import '../../styles/variables';



.container {
    border-radius: 48px;
    background: #13111A;
    padding: 15px 30px;
    border: 3px solid transparent;
    position: relative;
    box-sizing: border-box;
    background-clip: padding-box;

    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -3px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(180deg, #7353E5 0%, #CE4DA4 100%);
      }
}


