@import '../../styles/variables';



.btn {
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  background: $linear;
  cursor: pointer;
  border-radius: 48px;
  padding: 15px 30px;
  border: 1px solid transparent;
}


.btn::before {
  content: "";
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border-radius: 25px;
  background-color: $button-color;
  z-index: -1;
  transition: 400ms;
}

.btn::after {
  content: attr(data);
  font-size: 16px;
  background: $linear;
  background-clip: text;
  color: transparent;
  transition: 400ms;
}


.btn:hover::before {
  opacity: 0;
}
