@import '../../styles/variables';

.container {
    border-radius: 48px;
    background-color: $button-color;
    padding: 15px 30px;
    color: #fff;
    box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
}
