@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'variables';


html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p, li, button {
  color: #ffffff;
}

h1 {
  font-size: 90px;
  font-family: $baloo;
}

h2 {
  font-size: 72px;
}

h3 {
  font-family: $montserrat-regular;
}

p {
  font-family: $montserrat-regular;
}

li {
  font-family: $montserrat-regular;
}

button {
  font-family: $baloo;
}

//banner

.video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000000a8;
  opacity: 0.5;
}
//sidemenu
.sidemenu {
  transform: translateX(100%);
  transition: all 400ms ease-in-out;
  top: 0;
  right: 0;
  width: 20rem;
  position: absolute;
  height: 100vh;
  background-color: #FFF;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    color: $dark-blue;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
    padding: 5px 25px;

    &:hover {
      background-color: #291959;
      color: #fff;
    }
  }
}

.sidemenu-open {
  transform: translateX(0);
}

.backdrop {
  display: none;
  position: absolute;
  font-family: $montserrat-regular;
  font-size: larger;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.backdrop-open {
  display: block;
  cursor: pointer;
  z-index: 30;
  right: 2%;
  font-weight: bold;
  opacity: 1;
}

.date {
  color: $dark-blue;
  font-size: 1.2em;
  font-weight: bold;
}

//values

.box-shadow {
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
  transition: all 500ms ease-in-out;

  &:hover {
    box-shadow: 0px 5px 10px rgba(177, 177, 177, 0.5);
  }
}
//This is Us

.us-box {
  transition: all 300ms ease-in-out;
}

.us-box::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $dark-blue;
  opacity: 0.5;
  transition: opacity 250ms ease-in-out;
}

.us-box:hover {
  z-index: 10;
  transform: scale(1.05);
  cursor: pointer;

  .us-box-tag {
    opacity: 0;
  }
}

.us-box:hover::after {
  opacity: 0;
}

.us-box-tag {
  position: absolute;
  z-index: 5;
  opacity: 100%;
  transition: opacity 400ms ease-in-out;
}

.us-box-tag-line {
  position: relative;
  background-color: $lightblue;
  height: 2px;
  width: 40px;
  padding-right: 5px;
  transform: rotate(90deg)
}

//Us modal


//Technologies Styles

.card-image {
  filter: invert(99%) sepia(16%) saturate(2%) hue-rotate(158deg) brightness(113%) contrast(100%);
}

.card-button-hover {
  position: relative;
  top: 25px;
  box-shadow: 5px 5px 30px rgba(230, 246, 248, 0.432);
}

.card:hover {

  .card-text {
    opacity: 1;
  }

  .card-button-hover {
    background-color: #FFF;
  }

  .card-image {
    filter: invert(0%);
  }
}

//Carousel styles 
.right {
  right: 0;
}

.center-proyect {
  transition: all 300ms ease-in-out;
  transform: scale(1.2);
  

  .proyect-display {
    opacity: 0.65;
  }

  img {
    box-shadow: 0px 5px 15px rgba(141, 141, 141, 0.5);
  }

  &:hover {
    transform: scale(1.25);

    img {
      box-shadow: 0px 5px 20px rgba(141, 141, 141, 0.5);
    }
  }
}

.proyect-display {
  background-color: $dark-blue;
  opacity: 0.3;
  transition: all 300ms ease-in-out;
}

.slick-next {
  right: 30px;
}


//Contact{
.hippo-bg {
  background-image: url('/public/assets/hippo-img.png') !important;
}

.dialog-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #7741EA;
  filter: blur(25px);
  z-index: -1;
}

.contact-link {
  width: fit-content;
  margin: 1.25rem 0;
  cursor: pointer;
  display: flex;
  transition: all 300ms ease-in-out;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
}

//Form
.form {
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;
}

.item {
  color: #000;
}

.input {
  border-bottom: 2px solid #7653E3;
  height: 20px;
  width: 100%;
  transition: 300ms;
  background-color: transparent;
  padding: 15px 5px;
  font-family: $montserrat-regular;
}

.input.error {
  border: 3px solid #cc0017;
  background-color: #cc001712;
  font-weight: 600;
}

.input_box {
  border-bottom: 2px solid #7653E3;
  padding: 10px 5px;
  background-color: transparent;
  height: 80%;
  width: 100%;
  resize: none;
  overflow: hidden;
}

.input_box::placeholder {
  font-size: 19px;
}

.contact-input-button {
  font-family: $montserrat-regular;
  background-color: $dark-blue;
  border-radius: 20px;
  margin-top: 10%;
  border: 2px $dark-blue solid;
  transition: all 300ms;

  &:hover {
      background-color: #fff;
      color: $dark-blue;
      border: 2px $dark-blue solid;
  }
}


//Footer

.footer-links {
  a {
    opacity: .6;
    transition: opacity 200ms ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
