@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p, li {
  color: #ffffff;
}

h1 {
  font-size: 90px;
  font-family: $baloo;
}

h2 {
  font-size: 72px;
}

p {
  font-family: $montserrat-regular;
}

li {
  font-family: $alata-regular;
}
button {
  font-family: $baloo;
}


//Technologies Styles

.card:hover {

  .card-text {
    display: block;
  }

  .card-button-hover {
    background-color: #B5730E;
  }
}