@import "variables";

.container {
  //padding: 0 2rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  background-image: url("/assets/hippo-img.png");
  background-color: $dark-blue;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
