@import "variables";


.main {
  min-height: 100vh;
  flex: 1;
  background-color: $dark-blue;
  background-image: url('/assets/images/home/bg_lights.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-color: $dark-blue;
  min-height: 80vh;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
