@import "variables";


.main {
  min-height: 100vh;
  flex: 1;
  background-color: $dark-blue;
  background-image: linear-gradient(#021527, #11304a);
  
  
}

.footer {
  background-color: $dark-blue;
  min-height: 80vh;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
