
//Colors
$dark-blue: #02223B;
$contrast: #B5730E;
$button-color: #00C9E0;
$box-color: #1D1A27;
$box-image-color: #5E5B71;
$linear: linear-gradient(90deg, #7353E5 0%, #CE4DA4 100%);

$main-purple: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);

//Fonts
$baloo: 'Baloo Da 2';
$montserrat-regular: 'Montserrat-Regular';
$alata-regular: 'Alata-Regular';

@font-face {
  font-family: 'Baloo Da 2';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/BalooDa2-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Alata-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Alata-Regular.ttf');
}
